.label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.caption {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.textField {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background-color: var(--color-grey-dark);
  border: none;
  border-radius: 5px;
  padding: 0px 12px;
  min-height: 33px;
  max-height: 250px;
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-text);

  resize: none;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::placeholder {
    color: #a5a5ad;
    opacity: 1;
  }
}
