html {
  box-sizing: border-box;
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--color-text);
  padding: 0;
  margin: 0;
  background-color: var(--color-grey);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.appContainer {
  margin: $appOffset auto;
  // padding-left: $appOffset;
  // padding-right: $appOffset;
  max-width: $appWidth;
  height: $appHeight;

  @media (max-width: $appWidth) {
    margin: auto;
    height: 100vh;
  }
}

.container {
  padding-right: $containerOffset;
  padding-left: $containerOffset;
}
